.container {
    max-width: 700px;
    max-height: fit-content;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #9cece760;

    font-family: 'Times New Roman', Times, serif;
  }

  .container img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  
  .form-wrapper{
    height: 100%;
  }
  
  .form-control {
    width: 100%;
    
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* text-align: center; */
  }
  
  .btn {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
  }
  

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #218838;
  }
  


.container {
    padding: 20px;
  }
  
 
  
  .form-wrapper {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .img-fluid {
    max-height: 100%;
    width: auto;
  }
  
  .mb-3 {
    margin-bottom: 10px;
  }
  
  .form-control {
    padding: 5px;
    font-size: 14px;
  }
  
  .btn {
    font-size: 14px;
    padding: 5px 10px;
  }
  
  .modal-content {
    padding: 10px;
  }
  
  .modal-header, .modal-footer {
    padding: 10px;
  }
  
  .modal-title {
    font-size: 16px;
  }
  
  .modal-body input {
    font-size: 14px;
    padding: 5px;
  }
  
  .btn-close {
    font-size: 14px;
  }
  
  p {
    font-size: 14px;
    margin: 0;
  }
  
  .mt-3 {
    margin-top: 10px;
  }
  
  @media (max-width: 767px) {
    .image-container {
    display: none;
    
    }
 
    .container{
      max-width: 400px;
      max-height: fit-content;
      /* margin-top: 50px; */
      background-image: url("../images/img1.jpg");
      background-size: cover; 
    background-position: center; 
      align-self: center;
      padding: 30px;
      border: 1px solid #bb8b8b;
      border-radius: 5px;
      /* background-color: #9cece760; */
    }
  }